ErrorDocument 400 /error.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php
ErrorDocument 502 /error.php
ErrorDocument 503 /error.php
ErrorDocument 504 /error.php

# defaultne kdyz das localhost tak tam hodi index
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

Options -Indexes

# blokne pristup k slozkam includes, views a config
<IfModule mod_rewrite.c>
    RewriteRule ^(config|includes|tmp|views)/ - [F,L,NC]
</IfModule>

# blokne pristup k vecem zacinajicim .
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

#z /song/jmeno -> song.php?slug=jmeno
RewriteRule ^songs/([^/]+)/?$ song.php?slug=$1 [L,QSA]

#z /artist/jmeno -> artist.php?slug=jmeno
RewriteRule ^artists/([^/]+)/?$ artist.php?slug=$1 [L,QSA]

# Nevim kamo vezme explore jako explore.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+?)/?$ $1.php [L,NC]