.overlay-form.account {
    display: none;
}

.overlay-form.account.open {
    display: inherit;
}

.change-data-header-username {
    margin-left: 20px;
}

.account-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.personal-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #fcfcfe;
    border-radius: 30px;
    padding: 10px;
}

.change-data-header {
    margin: 0;
}

.change-data-wrapper {
    margin: 10px;
    justify-content: space-between;
}

.change-data-info {
    margin: 0;
}

.change-data-button {
    width: 70px;
    height: 45px;
    color: #fcfcfe;
    background-color: #5f1b04;
    border: 1px solid #fcfcfe;
    border-radius: 5px;
    cursor: pointer;
}

.change-data-button.warning {
    background: #5f1b04;
    color: #df1212;
}


@media screen and (min-width: 600px) {
    /*.change-data-wrapper {
        width: 20vw;
    }*/
    .account-form {
        width: 340px;
    }

    .account-wrapper {
        padding: 20px;
    }
    
    .personal-wrapper {
        width: 500px;
    }

    .change-data-wrapper {
        display: flex;
    }
}