.explore-content {
    display: flex;
    /*height: 100%;*/
}

.sidebar {
    width: 20%;
    height: 100%;
    /*background-color: #0c0244;*/
    border-right: 1px solid #fcfcfe;
    padding: 20px;
}

.button-submission {
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    background-color: #5f1b04;
    color: #fcfcfe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*.overlay-form.submition{
    height: 90%;
}

.overlay-form.editing{
    height: 90%;
}*/

.title-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    margin-top: 20;
}

.song-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    /*height: 100%;*/
}

.song-card {
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.song-part {
    width: 25%;
}

.no-under {
    text-decoration: none;
}

.no-under:hover {
    font-weight: normal;
}

@media screen and (max-width: 600px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
    }
    .sidebar.open {
        width: 100%;
    }
}