nav {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /*background-color: #0c0244;*/
    /*background-image: linear-gradient(#0c0244 41px, #b75d25, #5f1b04);*/
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20vw;
    justify-content: space-around;
}

.search-container {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 30px;
    background-color: #5f1b04;
    padding: 5px 10px;
    margin-left: 20px;
}

.search-bar {
    color: #fcfcfe;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    background: none;
    outline: none;
    border: none;
    text-align: justify;
}

.search-button-container {
    position: relative;
}

.search-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: 25px;
    width: 25px;
    height: 25px;
    background-image: url("../img/search-button.png");
}

/*.search-button.static {
    background-image: url("../img/search-button.png");
}

.search-button.active {
    background-image: url("../img/search-button.gif");
}*/

.user-menu {
    /*flex-grow: 0;*/
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*.user-dropdown {
    padding: 5px;
    display: none
}

.user-menu:hover  .user-dropdown {
    display: flex;
    flex-direction: column;
}*/

.nav-button {
    color: #fcfcfe;
    text-decoration: none;
    cursor: pointer;
    /*background-color: #b75d25;
    border: 2px solid red;*/
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.logout-button {
    height: 25px;
}